
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body {
    background-color: seagreen;
    margin:0;
    padding:0:

}

.container {
    height:100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

button {
    height:90px;
    width:380px;
    background-color:pink;
    border: 5px solid rgb(173, 34, 207);
    color:rgb(228, 13, 199);
    font-size:35px;
    font-family:'Open Sans', sans-serif;
    font-weight:bold;
    letter-spacing:5px;
    cursor: pointer;

}

button:hover {
    animation:stretch 1.8s;

}
 
@keyframes stretch {
    25%{
        transform:scale(1.3,0.6);

    }
    35%{
        transform:scale(0.6,1.3);
    }
    50% {
        transform:scale:(1.1,0.9);
    }
    65%{
        transform:scale(0.9,1.02);
    }
}
